Source: seminarix
Section: doc
Priority: extra
Maintainer: Dinko Sabo <cobrasbyte@gmx.de>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>,
 Ferdinand Thommes <devil@sidux.com> 
Build-Depends: debhelper (>= 7),
 imagemagick
Standards-Version: 3.9.1
Vcs-Svn: svn://svn.berlios.de/fullstory/seminarix/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/seminarix/trunk/

Package: seminarix
Architecture: all
Depends: ${misc:Depends},
 seminarix-samples,
 seminarix-teaching
Description: seminarix samples files for eduversum
 eduversum and seminarix-handbook can use these files to describe common 
 functionality of the advertised packages.
 .
 metapackage to pull in seminarix-samples and seminarix-teaching.

Package: seminarix-samples
Architecture: all
Depends: ${misc:Depends}
Suggests: eduversum
Description: eduversum samples files for seminarix
 eduversum and seminarix-handbook can use these samples to describe common 
 functionality of the advertised packages:
  * OpenOffice.org
  * kPresenter
  * kdissert
  * KTurtle
  * stopmotion
  * Vym
  * WxMaxima
 .
 Contents are currently only available in german language.

Package: seminarix-teaching
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: eduversum
Description: seminarix teaching files for eduversum
 Suggestions and examples for methods to use computer aided teaching.
 Overviews and work sheets are provided for the following use cases:
  * documentation and publishing using office suites
  * image editing and manipulation
  * privacy and data protection
  * backup procedures
  * free software and licensing
  * recreational games
  * audio editing
  * presentations
  * mind mapping
  * visualizations and vector drawing
  * website creation
  * time management
  * networking
  * programming
 .
 Contents are currently only available in german language.
