Source: seminarix
Section: doc
Priority: extra
Maintainer: Dinko Sabo <cobrasbyte@gmx.de>
Uploaders: Stefan Lippers-Hollmann <s.l-h@gmx.de>,
 Ferdinand Thommes <devil@sidux.com> 
Build-Depends: debhelper (>= 7),
 imagemagick
Standards-Version: 3.9.1
Vcs-Svn: svn://svn.berlios.de/fullstory/seminarix/trunk
Vcs-Browser: http://svn.berlios.de/wsvn/fullstory/seminarix/trunk/

Package: seminarix
Architecture: all
Depends: ${misc:Depends},
 seminarix-samples,
 seminarix-teaching
Description: seminarix samples files for eduversum
 eduversum and seminarix-handbook can use these files to describe common 
 functionality of the advertised packages.
 .
 metapackage to pull in seminarix-samples and seminarix-teaching.

Package: seminarix-samples
Architecture: all
Depends: ${misc:Depends}
Suggests: eduversum
Description: seminarix samples files for eduversum
 eduversum and seminarix-handbook can use these samples to describe common 
 functionality of the advertised packages.

Package: seminarix-teaching
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: eduversum
Conflicts: seminarix-notebook-training
Replaces: seminarix-notebook-training
Provides: seminarix-notebook-training
Description: seminarix teaching files for eduversum
 Web-Pages for application explanations
